.searchbar-container {
  margin: 2rem;
  position: relative;
  width: 60%;
}
.searchbar-input {
  box-sizing: border-box;
  border-radius: 10px;
  border: none;
  padding: 1rem 2rem;
  width: 100%;
  transition: all ease-in-out 0.2s;
  margin: 0;
}
.searchbar-input:focus {
  border: none;
  outline: none;
}
.dark.searchbar-input {
  box-shadow: 0px 1px 1px 1px var(--light-secondary);
  background-color: var(--white);
  color: var(--black);
}
.light.searchbar-input {
  background-color: rgba(255, 72, 0, 0.048);
  color: var(--black);
}
.light.searchbar-input:focus {
  background-color: var(--white);
}
.search-btn {
  position: absolute;
  right: 5px;
  top: 10px;
  cursor: pointer;
  border: none;
  background: none;
  outline: none;
  transition: all ease-in-out 0.1s;
}
.search-btn:hover {
  transform: scale(1.2);
}

@media (max-width: 950px) {
  .searchbar-container {
    width: 80%;
  }
}
