.sidebar-container {
  height: 100vh;
  padding: 2rem;
  box-shadow: 10px 0px 11px -7px rgba(0, 0, 0, 0.26);
  transition: border-right ease-in-out 0.2s;
}
.dark.sidebar-container {
  background-color: #252525;
}
.light.sidebar-container {
  background-color: #f6f6f6;
}
