.card-container {
  border-radius: 10px;
  box-shadow: 0 0 0 black;
  position: relative;
  margin-left: 1rem;
  cursor: pointer;
  transition: transform ease-in-out 0.2s;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-width: 300px;
}
.card-container:hover {
  transform: scale(1.05);
}
.favorite-icon {
  position: absolute;
  bottom: 10px;
  left: 10px;
  cursor: pointer;
  color: var(--white);
  transition: color ease-in-out 0.5s;
}
.favorite-icon:hover {
  color: var(--light-primary);
}
.favorite-icon.active {
  color: var(--light-primary);
}
